<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>
    <a href="/omnifood">Omnifood</a>

    {{> footer}}
  </body>
</html>
